/**
* GENERAL
*/
button {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 8px;
}
button:hover {
    color: #ffffff;
    background-color: #dedede;
}


/* LOGIN */

#signinForm {
    display: inline-block;
    margin-top: 40px;
    width: 300px;
}
.signinInput {
    display: block;
    font-size: 15px;
    border: 1px solid #646464;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 11px 10px 11px 13px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.signinBt {
    font-size: 15px;
    border: 1px solid #646464;
    border-radius: 4px;
    padding: 11px 10px 11px 13px;
    width: 100%;
    /* background-color: #d4cebe; */
    /* background-color: #667e94; */
    background-color: #000000;
    color: #fff;
}

/* HEADER */

/* Search */
.searchForm {
    position: relative;
    display: inline-block;
    width: 80%;
    display: none;
}
.searchInput {
    height: 24px;
    width: 100%;
}
.searchReset {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 24px;
}
/* Buttons */
.uploadBt, .profileBt, .searchBt {
    position: relative;
    display: inline-block;
    margin-left: 9px;
}
.searchBt {
    float: right;
}
.uploadBt, .profileBt {
    float: left;
}

/* CONTENTS */
.homeContents table {
    width: 100%;
}

/* EDITOR */
.editorTitle {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #dedede;
}
.editorContent {
    height: calc(100% - 60px);
    padding: 0 10px;
}
.editorContentHeader {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}
.editorContentHeader div:first-child {
    padding-bottom: 10px;
}
.editorForm textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border-radius: 2px;
    border: 1px solid #dedede;
    font: inherit;
    font-size: 13px;
}
.editorForm button {
    margin-top: 10px;
    float: right;
}
.editorInputs {
    display: table;
    padding-bottom: 5px;
    width: 100%;
}
.editorInputs input {
    display: table-cell;
    border: 1px solid #dedede;
    border-radius: 2px;
}
.editorInputs input:first-of-type {
    width: 30%;
}
.editorInputs input:last-of-type {
    margin-left: 5px;
    width: calc(70% - 5px);
}

/**
* PROFILE
*/
.profileContent {
    height: 100%;
}
.profileResume {
    height: 80%;
}
.profileBoxBt {
    line-height: 20px;
    display: block;
}

.testdrop {
    width: 90%;
    height: 100%;
    border: 1px dashed #646464;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
.testdrop.dragover {
    background-color: rgba(186, 186, 186, 0.7);
}

/**
* OVERLAY
*/
.assetTitle {
	display: table-cell;
/*	width: 100%;*/
	padding-left: 9px;
    vertical-align: top;
}
.assetLabel {
    line-height: 36px;
}
.assetBts {
    display: table-cell;
    vertical-align: middle;
	width: 120px;
}
.btDl, .btUp {
	display: inline-block;
    vertical-align: middle;
/*
	background: url('icons/download.svg') no-repeat center center;
	background-size: contain;
*/
    margin-left: 9px;
}

@media screen and (min-width: 800px) {
     /* Search */
    .searchForm {
        display: inline-block;
    }
    .searchBt {
        display: none;
    }
    
}
