/* EDITOR */
.panelPrincipal .fa-pencil {
    padding-left: 6px;
}

.editorTitle {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #dedede;
}
.editorContent {
    height: calc(100% - 120px);
    padding: 0 10px;
}
.editorContentHeader {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}
.editorContentHeader div:first-child {
    padding-bottom: 10px;
}
.editorForm {
    height: 100%;
}
.editorForm textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border-radius: 2px;
    border: 1px solid #dedede;
    font: inherit;
    font-size: 13px;
    height: 100%;
}
.editorForm button {
    margin-top: 10px;
    float: right;
}
.editorInputs {
    display: table;
    padding-bottom: 5px;
    width: 100%;
}
.editorInputs input {
    display: table-cell;
    border: 1px solid #dedede;
    border-radius: 2px;
}
.editorInputs input:first-of-type {
    width: 30%;
}
.editorInputs input:last-of-type {
    margin-left: 5px;
    width: calc(70% - 5px);
}