#panelSecond {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex:  0 0 auto;
    -ms-flex:  0 0 auto;
    box-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;  
    -moz-box-ordinal-group: 2;	 
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    overflow-y: auto;
    overflow-x: hidden;
}
/* EDITOR */
.btCloseP {
    position: absolute;
    top: 5px;
    right: 5px;
}
.editorBox textarea {
    width: 100%;
    resize: vertical;
    margin: 0;
}

/**
* EDITOR DESIGN STYLE
*/
tr.selected {
    background-color: #f1f1f1;
}
#panelSecond {
    width: 42ex;
    background-color: rgba(255,255,255,.9);
}
.spinCss {
    animation: Rotate .6s linear infinite;
    -webkit-animation: Rotate .6s linear infinite;
}
@keyframes Rotate {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}
/*
.editorBox textarea {
    resize: vertical;
    border-radius: 2px;
    border: 1px solid #dedede;
    font: inherit;
    font-size: 13px;
}
.editorContent button {
    font-family: inherit;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    margin: 6px 0;
    display: table-cell;
}
*/
.editorContent button {
    font-family: inherit;
}
/*
.editorContent button:hover {
    background-color: #c7c7c7;
}
*/
@media screen and (max-width: 800px) {
    #panelSecond {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }
    #panelContent {
        width: 100%;
    }
}
