/* EDITOR */
.panelPrincipal .fa-pencil {
    padding-left: 6px;
}
.btCloseP {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
}
.editorTitle {
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    background-color: #808a89;
    color: white;
}

.editorContent {
    height: calc(100% - 170px);
    padding: 0 10px;
}
.editorContentHeader {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}
.editorContentHeader div:first-child {
/*    word-break: break-all;*/
    word-wrap: break-word;
/*    padding-bottom: 10px;*/
}
.editorForm {
    margin: 0;
}
.editorForm textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border-radius: 2px;
    border: 1px solid #dedede;
    font: inherit;
    font-size: 13px;
    height: 100%;
}
.editorForm button {
    float: right;
}
.editorInputs {
    display: table;
    padding-bottom: 5px;
    width: 100%;
}
.editorInputs input {
    display: table-cell;
    border: 1px solid #dedede;
    border-radius: 2px;
}
.editorInputs input:first-of-type {
    width: 30%;
}
.editorInputs input:last-of-type {
    margin-left: 5px;
    width: calc(70% - 5px);
}
.editorContent button {
    font-family: monospace;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    color: black;
    margin: 6px 0;
    /* padding: 0 1ex; */
}
.editorContent button:hover {
    background-color: #c7c7c7;
}
@media screen and (min-width: 800px) {
    .btCloseP {
        color: white;
    }
}