/* HEADER */

/* Search */
/*
.searchForm {
    display: none;
    position: relative;
    width: 80%;
    margin: 0;
}
*/
.searchInput {
    width: 50%;
    border: 1px solid #d4d4d4;
}

table.search {
margin-top: 4em;
}

table.search td.file {
	cursor: pointer;
}

td.sync {
	text-align: center;
	cursor: default;
}
td.sync span {
	margin: 0 1px;
}
.sync_error {
	background-color: #e7acac;
}
.synced {
	background-color: #ace7ac;
}
.notsynced {
	background-color: #e0e0e0;
}
.synced.outdated {
	background-color: #ece700;
}
/*
    height: 24px;
    background-color: #fff;
    border-radius: 3px;
    line-height: 24px;
    display: inline-block;
    padding: 4px 6px;
    vertical-align: middle;
}
.searchReset {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 24px;
}
.searchBt {
}
.searchAbout {
    height: 24px;
}

@media screen and (min-width: 800px) {
    .searchForm {
        display: inline-block;
    }
    .searchBt {
        display: none;
    } 
}
*/

td.priority {
	text-align: center;
}
