.clickable {
    cursor: pointer;
}
.btClose {
    position: absolute;
    top: 5px;
    right: 5px;
}
/**
* UPLOAD
*/
.overlayBodyDrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px 30px 30px;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}
.overlayHeader {
    height: 30px;
    font-size: 20px;
/*    text-align: left;*/
    line-height: 30px;
    padding-left: 30px;
}
.workdirsList {
    text-align: left;
    padding-bottom: 10px;
}
.workdirsList i {
    float: left;
    padding-right: 6px;
}
.dropZone {
    border: 2px dashed #6d6d6d;
    border-radius: 6px;
    text-align: center;
    position: relative;
    -webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
}
.dropZone:before {
    content: "\f0ee";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 100px;
    color: #add8e6;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 1;
}
.dropZone:after {
    content: "Drag & Drop File Here";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 1;
}
.dropZone.dragover {
    background-color: rgba(212, 212, 212, 0.7);
    color: #fff !important;
}

#upload_div {
    border-bottom: 1px solid #646464;
}
#upload_div td {
    white-space: normal; 
}

@media screen and (min-width: 800px) {

}