/* HEADER */

/* Button */
/*
.uploadBt {
    position: relative;
    display: inline-block;
    margin-left: 9px;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #b4b4b4;
}
*/

/**
* UPLOAD
*/
.overlayBodyDrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
/*    height: calc(100% - 70px);*/
    padding: 10px 30px 30px;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

body.dragover {
    background-color: rgba(212, 212, 212, 0.7);
}
body.dragover:before {
    content: "Drag & Drop File Here";
    position: absolute;
    font-size: 30px;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
}
body.dragover:after {
    content: "\f0ee";
    font-family: FontAwesome;
    position: absolute;
    font-size: 160px;
    color: #add8e6;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
}

.workdirsList {
    text-align: left;
    padding-bottom: 10px;
}
.workdirsList i {
    float: left;
    padding-right: 6px;
}

.dropZone {
    border: 1px dashed #646464;
    border-radius: 6px;
    text-align: center;
    position: relative;
    -webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
}


.dropZone:before {
    content: "\f0ee";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 100px;
    color: #add8e6;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 1;
}
.dropZone:after {
    content: "Drag & Drop File Here";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 1;
}
.dropZone.dragover {
    background-color: rgba(212, 212, 212, 0.7);
    color: #fff !important;
}

#upload_div {
    border-bottom: 1px solid #646464;
}
#upload_div td {
    white-space: normal; 
}

/* MODAL */

.modalOverlay {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(57, 57, 57, 0.6) none repeat scroll 0 0;
}
.modalBox {
    width: 90%;
    height: 80%;
    position: relative;
    border-radius: 6px;
    background-color: #ffffff;
}
.btClose {
    position: absolute;
    top: 5px;
    right: 5px;
}
#modalHeader {
    height: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    padding-left: 30px;
}
#modalContent {
    height: calc(100% - 70px);
    padding: 10px 30px;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
}
.clickable {
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    /* MODAL */
    .modalBox {
        width: 600px;
    }
}
