/**
* GENERAL
*/
body {
    font-family: 'Roboto', 'Open Sans';
}
a {
    text-decoration: none;
    color: inherit;
}
/* HEADER */
.homeHeader {
    background-color: orange;
}

/* CONTENTS */
.homeContents #panelPrincipal {
    font-size: 13px;
    text-align: left;
}
.homeContents table tr{
    height: 30px;
    line-height: 30px;
}
.panelSecond {
    background: rgba(57, 57, 57, 0.6) none repeat scroll 0 0;
}
.panelContent {
    background-color: #ffffff;
}

/**
* MODAL
*/
.modalOverlay {
    background: rgba(57, 57, 57, 0.6) none repeat scroll 0 0;
}
.modalBox {
    background-color: #ffffff;
}

@media screen and (min-width: 800px) {

}
