/**
* 
* UI CSS - MOBILE FIRST
*
**/


/**
* RESET
*/
body, html {
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:after {
     display: block;
}

/**
* GENERAL
*/
body {
    overflow: hidden;
}
.clickable {
    cursor: pointer;
}

/* HEADER */
.homeHeader {
    height: 60px;
    display: table;
    width: 100%;
}
/* Logo */
.headerLogo {
    display: table-cell;
    width: 90px;
}
/* Search */
.headerSearch {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.searchForm {
    position: relative;
    display: inline-block;
    width: 80%;
    display: none;
}
.searchInput {
    height: 24px;
    width: 100%;
}
.searchReset {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 24px;
}

/* Menu */
.headerMenu {
    display: table-cell;
    vertical-align: middle;
    width: 90px;
}
/* Buttons */
.uploadBt, .profileBt, .searchBt {
    position: relative;
    display: inline-block;
    margin-left: 9px;
}
.searchBt {
    float: right;
}
.uploadBt, .profileBt {
    float: left;
}

/* CONTENTS */
.homeContents {
    height: calc(100% - 60px);
    overflow: auto;
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.homeContents #panelPrincipal {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
.homeContents table {
    width: 100%;
}
.panelSecond {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.panelContent {
    width: 90%;
    height: 90%;
}

/**
* PROFILE
*/
.profileContent {
    height: 100%;
}
.profileResume {
    height: 80%;
}
.profileBoxBt {
    line-height: 20px;
    display: block;
}

/**
* MODAL
*/
.modalOverlay {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0; 
}
.modalBox {
    width: 90%;
    height: 90%;
    position: relative;
}
.btClose {
    position: absolute;
    top: 10px;
    right: 10px;
}
#modalContent {
    width: 100%;
    height: 100%;
}
.testdrop {
    width: 100%;
    height: 100%;
}

/**
* OVERLAY
*/
#assetOverlay {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
}
.hideAssetOverlay {
	display: none;
}

.showAssetOverlay {
	display: block;
}
#closeAssetOverlay {
	position: fixed;
	right: 10px;
	top: 0px;
    line-height: 36px;
}
#assetOverlay ul, #assetOverlay li {
    list-style-type: none;
	padding: 0;
	margin: 0;
}
#assetHeader {
    display: table;
	min-height: 36px;
	width: 100%;
}
.assetTitle {
	display: table-cell;
/*	width: 100%;*/
	padding-left: 9px;
    vertical-align: top;
}
.assetLabel {
    line-height: 36px;
}
.assetBts {
    display: table-cell;
    vertical-align: middle;
	width: 120px;
}
.btDl, .btUp {
	display: inline-block;
    vertical-align: middle;
/*
	background: url('icons/download.svg') no-repeat center center;
	background-size: contain;
*/
    margin-left: 9px;
}
.assetContent {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    
    
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
    
    height: calc(100% - 36px);
    overflow: auto;
}
.assetMain {
	position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: all 0.3s ease; 
    width: 100%;
    min-height: 240px;
}
#assetPanel {
	-webkit-box-flex: 0 0 auto;
	-moz-box-flex: 0 0 auto;
	-webkit-flex:  0 0 auto;
	-ms-flex:  0 0 auto;
	box-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-ordinal-group: 2;  
	-moz-box-ordinal-group: 2;	 
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
	overflow-y: auto;
	overflow-x: hidden;
}

.assetMain_viewer {
    height: 100%;
/*	overflow: auto;*/
}
.assetCard {
    min-height: 150px;
}

@media screen and (min-width: 800px) {
    .panelSecond {
        display: inline-block;
        position: relative;
        -webkit-box-flex: 0 0 auto;
        -moz-box-flex: 0 0 auto;
        -webkit-flex:  0 0 auto;
        -ms-flex:  0 0 auto;
        box-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;  
        -moz-box-ordinal-group: 2;	 
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        overflow-y: auto;
        overflow-x: hidden;
    	width: 240px;
    }
    .panelContent {
        width: 100%;
        height: 100%;
    }
    /* Search */

    .searchForm {
        display: inline-block;
    }
    .searchBt {
        display: none;
    }
    .modalBox {
        width: 600px;
        height: 300px;
    }
    .assetContent {
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        flex-flow: row;
        flex-direction: row;
    }
    .assetMain {
        padding: 0;
    }
    .assetPanel {
        width: 340px;
    }
}