/**
* 
* UI CSS - MOBILE FIRST
*
**/


/**
* RESET
*/
body, html {
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:after {
     display: block;
}

/**
* GENERAL
*/
body {
    overflow: hidden;
}
.clickable {
    cursor: pointer;
}

/* HEADER */
.homeHeader {
    height: 60px;
    display: table;
    width: 100%;
}
.headerLeft, .headerRight {
    display: table-cell;
    vertical-align: middle;
    width: 90px;
}
.headerCentral {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* CONTENTS */
.homeContents {
    height: calc(100% - 60px);
    overflow: auto;
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.homeContents .panelPrincipal {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
.panelSecond {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.panelContent {
    width: 90%;
    height: 90%;
}


/* MODAL */
.modalOverlay {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0; 
}
.modalBox {
    width: 90%;
    height: 90%;
    position: relative;
}
.btClose {
    position: absolute;
    top: 10px;
    right: 10px;
}
#modalHeader {
    height: 30px;
}
#modalContent {
    width: 100%;
    height: calc(100% - 60px);
}
#modalFooter {
    height: 30px;
}

/* OVERLAY */
#assetOverlay {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
}
.hideAssetOverlay {
	display: none;
}
.showAssetOverlay {
	display: block;
}
#closeAssetOverlay {
	position: fixed;
	right: 10px;
	top: 0px;
    line-height: 36px;
}
#assetOverlay ul, #assetOverlay li {
    list-style-type: none;
	padding: 0;
	margin: 0;
}
#assetHeader {
    display: table;
	min-height: 36px;
	width: 100%;
}
.assetContent {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    
    
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
    
    height: calc(100% - 36px);
    overflow: auto;
}
.assetMain {
	position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: all 0.3s ease; 
    width: 100%;
    min-height: 240px;
}
#assetPanel {
	-webkit-box-flex: 0 0 auto;
	-moz-box-flex: 0 0 auto;
	-webkit-flex:  0 0 auto;
	-ms-flex:  0 0 auto;
	box-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-ordinal-group: 2;  
	-moz-box-ordinal-group: 2;	 
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
	overflow-y: auto;
	overflow-x: hidden;
}
#assetMain_viewer {
    height: 100%;
/*	overflow: auto;*/
}
.assetCard {
    min-height: 150px;
}

@media screen and (min-width: 800px) {
    /* CONTENTS */
    .panelSecond {
        display: inline-block;
        position: relative;
        -webkit-box-flex: 0 0 auto;
        -moz-box-flex: 0 0 auto;
        -webkit-flex:  0 0 auto;
        -ms-flex:  0 0 auto;
        box-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;  
        -moz-box-ordinal-group: 2;	 
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        overflow-y: auto;
        overflow-x: hidden;
    	width: 240px;
    }
    .panelContent {
        width: 100%;
        height: 100%;
    }
    
    /* MODAL */
    .modalBox {
        width: 600px;
        height: 300px;
    }
    
    /* OVERLAY */
    .assetContent {
        -webkit-flex-flow: row;
        -moz-flex-flow: row;
        flex-flow: row;
        flex-direction: row;
    }
    .assetMain {
        padding: 0;
    }
    .assetPanel {
        width: 340px;
    }
}